/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  font-family: BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
  margin: 50 auto;
  background: #220344;
  text-align: center;
  background: url(/images/bg.png);
  background-attachment: fixed;
  /*
  background: -moz-linear-gradient(top, rgba(255,216,216,1) 0%, rgba(255,255,252,0.87) 13%, rgba(255,255,252,0) 100%);
background: -webkit-linear-gradient(top, rgba(255,216,216,1) 0%,rgba(255,255,252,0.87) 13%,rgba(255,255,252,0) 100%);
background: linear-gradient(to bottom, rgba(255,216,216,1) 0%,rgba(255,255,252,0.87) 13%,rgba(255,255,252,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8d8', endColorstr='#00fffffc',GradientType=0 );
*/
}

a {
  color: purple;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dashed #d4d4d4;
}

a:hover {
  color: black;
}

table {
  border-collapse: collapse;
  width: 500px;
  background: #f4f4f4;
  margin: 0 auto;
  text-shadow: 1px 1px white;
  

		        animation: fadein 1s;
		        animation-delay: 0.8s;
		        animation-fill-mode: both;
}



 td {
  border: 1px dashed #d4d4d4;
  padding: 25px;
  text-align: center;
}

table b {
  font-size: 2em;
}

td:hover {
	color: gray;
  text-shadow: 1px 1px white;
}

h1 {
  width: 800px;
  margin: 50px auto;
  font-size: 50px;
  color: #7F559C;
  font-weight: 200;
  
		        animation: fadein 1s;
		        animation-duration: 1s;
		        animation-delay: 0.2s;
		        animation-fill-mode: both;
}

			@keyframes fadein {
    from { top:0px; opacity: 0; transform: scale(0.6);}
    to   { top:0px; opacity: 1; transform: scale(1);}
    
}


footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background: white;    
  font-size: 14px;
  color: gray;
  border-top: 1px dashed #d4d4d4;
}
    

.footnote {
	width: 500px;
    margin: 0 auto;
    color: #5A4C82;
    font-size: 12px;
    text-shadow: 1px 1px #19073C;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-shadow: none;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}
