{
	"buildControl": {
		"options": {
			"dir": "dist",
			"commit": true,
			"push": true,
			"message": "Built %sourceName% from commit %sourceCommit% on branch %sourceBranch%"
		},
		"dev": {
			"options": {
				"remote": "ssh://user@domain.com/path/to/dev.git",
				"branch": "master"
			}
		},
		"live": {
			"options": {
				"remote": "ssh://user@domain.com/path/to/live.git",
				"branch": "master"
			}
		}
	}
}