<center><h1><font style="color: #710067; font-weight: 800;"><a href="http://blab.im" target="_blank" style="color: #710067; border-bottom: none; font-weight: inherit;">Blab.im</a> is growing fast <img src="http://emojipedia-us.s3.amazonaws.com/cache/f2/2e/f22eeaffb4cf3d62c240ac49e72f3745.png" width="30"></font><br> Three bored developers created a tool that keeps track of its growth</h1></center>
<table>
    <tr>
        <td colspan="2"><b>Today's statistics</b></td>
    </tr>
    <tr>
        <td>Total hours spent on Blab</td>
        <td>{{hours}}</td>
    </tr>
    <tr>
        <td>New user registrations</td>
        <td>{{newUsers}}</td>
    </tr>
    <tr>
        <td>Average time spent per user</td>
        <td>{{averageMins}} min</td>
    </tr>
    <tr>
        <td>Users that went live on cam</td>
        <td>{{onCamUsers}}</td>
    </tr>
    <tr>
        <td>Total hosted Blabs</td>
        <td>{{blabs}}</td>
    </tr>
</table>

<br><br>
<center><img src="http://www.webster.ch/_resources/images/down-arrow.png" width="50" style="opacity: 0.3; margin: 50 auto; display: block;"></center>
<br><br><br>


<h1>This space is currently empty.</h1>
<br><br>
<img src="http://www.quickmeme.com/img/ed/ed0f2abb5d1ac246374e44faa8f0836264d8d719d9739b7a0d420a4798640455.jpg" width="400">
<br><br><br>