<center><h1><font style="font-size: 60px; color: white; font-weight: 800;"><a href="http://blab.im" target="_blank" style="color: white; border-bottom: none; font-weight: inherit;">Blab.im</a> is growing fast <img src="http://emojipedia-us.s3.amazonaws.com/cache/f2/2e/f22eeaffb4cf3d62c240ac49e72f3745.png" width="50"></font><br> We created a tool that keeps track of their growth</h1></center>
<table>
    <tr style="background: #111;">
        <td colspan="2"><b>Today's statistics</b></td>
    </tr>
    <tr>
        <td>New user registrations</td>
        <td>{{today[0].total_new_users}}</td>
    </tr>
    <tr style="background: #111;">
        <td>Logged-in users</td>
        <td>{{today[0].total_unique}}</td>
    </tr>
    <tr>
        <td>Users that went live on cam</td>
        <td>{{today[0].total_on_cam}}</td>
    </tr>
    <tr style="background: #111;">
        <td>Total hosted Blabs</td>
        <td>{{today[0].total_blabs}}</td>
    </tr>
</table>

<br><br>



<div class="footnote">
The stats are for todays calendar day, starting at 00:00 GMT. We calculate the stats using Blab's API. Our numbers are not perfectly accurate. Blab told us their internal statistics are somewhat higher. 
</div>
